* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
    background-color: rgb(114, 41, 41);

}

.sect-titulo {
    min-height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sect-titulo h1{
    text-align: center;
    color:rgb(236, 85, 39)
}

.sect-cuerpo {
    height: 70%;
}

.sect-books {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.sect-books div {
    height: 300px;
    width: 250px;
    border-left: 10px solid rgb(105, 27, 27);
    background-color: rgb(143, 37, 37);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding: 15px;
}

.sect-books div h3 {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.sect-books span {
    margin: 5px 0;
}

.leido {
    font-style: italic;
    font-weight: bold;
}

form {
    margin: auto;
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

fieldset input {
    border-radius: 5px;
    height: 30px;
    padding-left: 10px
}

fieldset {
    display:flex;
    flex-direction: column;
    border: none;
    gap: 0.5rem;
}

fieldset:last-of-type {
    flex-direction: row;
    align-items: center;
    gap:1rem
}

form button {
    padding: 15px 20px;
}