* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    height: 100vh;
    background-color: rgb(114, 41, 41);

}

.sect-titulo {
    height: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sect-titulo h1{
    text-align: center;
    color:rgb(236, 85, 39)
}

.sect-cuerpo {
    height: 70%;
}