* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
    background-color: rgb(114, 41, 41);

}

.sect-titulo {
    min-height: 200px;
    display: flex;
    align-items: center;
    padding-left: 50px
}

.sect-titulo h1 {
    text-align: center;
    color: rgb(236, 85, 39);
    font-size: 36px;
}

.sect-cuerpo {
    height: 70%;
}

.sect-books {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.sect-books div {
    height: 300px;
    width: 250px;
    border-left: 10px solid rgb(105, 27, 27);
    background-color: rgb(143, 37, 37);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sect-books div h3 {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.sect-books span {
    margin: 5px 0;
}

.leido {
    font-style: italic;
    font-weight: bold;
}

form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    color: rgb(143, 37, 37);
    font-weight: bold;
}

fieldset input {
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid rgb(143, 37, 37);
}

input:focus {
    outline: none;
    border-color: rgb(143, 37, 37);
    box-shadow: 0 0 0 2px rgba(143, 37, 37, 0.2);
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.5rem;
}

fieldset:last-of-type {
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

fieldset:last-of-type input {
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

form div:last-of-type {
    display: flex;
    justify-content: center;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: rgb(143, 37, 37);
    color: white;
}

.sect-btn {
    display: flex;
    gap: 30px;
    padding-left: 50px;
}

.sect-btn button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: rgb(143, 37, 37);
    color: white;
}

form {
  transition: opacity 0.3s ease;
}

form[hidden] {
  opacity: 0;
}

.sect-btn button:hover {
    
    background-color: rgb(112, 28, 28);
}